@charset "utf-8";
/* CSS Document */

* {
	font-family: Georgia, Serif;
	font-size: 12px;
}

#loading_icon {
	text-align:center;
	background:url(../../bilder/ajax-loader.gif) no-repeat 1px;
	top:0;
	left:0px;
	position:relative;
	height:50px;
	width:50px;
	display:none;
	z-index:300;
}


#myForm {
	color: #FFF;
	background-color: #000;
	opacity: 0.75;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 750px;
	height: 470px;
	overflow: auto;
	padding: 5px;
	border-color: #000;
	border-width: 1px;
	border-style: solid;
	display: none;
	z-index: 260;
}

h3 {
	font-family: Georgia, Serif;
	font-size: 18px;
	color: #6F87A1;
}

#k_headerbild {
	top:20px;
	left:-764px;
	position: absolute;
	width: 764px;
	height: 176px;
	z-index: 250;
}




#m01_unternehmen,
#m02_objekte,
#m03_projekte,
#m04_kontakt,
#m05_impressum,
#m07_karriere,
#m06_start  {
	top: 0px;
	left: 0px;
	position: absolute;
	width: 80px;
	height: 80px;
	z-index: 250;
}

/* ----------------------------- IMPRESSUM AM FOOTER -------------------------------------*/


#footer {
    position:fixed;
	padding-top:5px;
    bottom: 0px;
    left: 0;
    right: 0;
	height:30px;
	width:100%;
    background: #ffffff;
	color:#000000;
    text-align: center;
    overflow: hidden;
	opacity: 0.75;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow:    0 0 5px black;
    box-shadow:         0 0 5px black;
    z-index: 260;
}
div#footer_inhalt { background: #ffffff; width: 600px; padding-top:20px; line-height: 1.5;}

.k_footer_text ul {
	list-style-type: none;
	margin: 0;
	padding-left: 320px;
	width: 400px;
	text-align:left;
}

.k_footer_text li {
	color: #666;
	padding-top:3px;
	float:left;
	width: 200px;
}

.k_footer_logo {
	float:left;
	padding-right:30px;
	padding-left:160px;
	
}
/* ----------------------------- /IMPRESSUM AM FOOTER -------------------------------------*/